[type=tpl] {
  display: none;
}

@baseColor: #ee574d;


@colorBlack:#000000;
@colorArctic:#00cbca;
@colorSapphire：#018c77;
@colorCerulean:#1fabc6;
@colorFern:#5ac25f;
@colorCharcoal:#707070;
@colorArctic:#73e0d4;
@colorGrey:#a0a0a0;
@colorCloud:#bbbbbc;
@colorBlush:#c74f58;
@colorCloud:#c9c9c9;
@colorApple:#e8382c;
@colorTiger:#f46d23;
@colorTangerine:#f7953e;
@colorDaisy:#f8f8f8;
@colorWhite:#ffffff;
@colorRice:#f6f6f6;
@colorCantaloupe:#fef5ef;
@colorPearl:#e1e1e1;
@colorCoin:#dcdcdc;
@colorAshes:#898989;
@colorOrange:#fd7c04;
@colorBloodRed:#e60012;
@colorCandy:#e60013;
@colorSlate:#8c949b;

.background(@color){
    background: @color;
}
.width(@number){
    width: @number;
}
.height(@number){
    height: @number;
}
.padding(@number){
    padding: @number;
}
.paddingTop(@number){
    padding-top: @number;
}
.paddingLeft(@number){
    padding-left: @number;
}
.margin(@number){
    margin: @number;
}
.marginTop(@number){
    margin-top: @number;
}
.marginLeft(@number){
    margin-left: @number;
}
.marginRight(@number){
    margin-right: @number;
}
.marginBottom(@number){
    margin-bottom: @number;
}
.display(@pixel){
    display:@pixel ;
}
.lineHeight(@number){
    line-height: @number;
}
.fontSize(@number){
    font-size: @number;
}
.color(@color){
    color: @color;
}
.borderBottom(@number){
    border-bottom: solid @number;
}
.borderTop(@number){
    border-top: solid @number;
}
.border(@number){
    border: solid @number;
}
.borderRight(@number){
    border-right:solid @number;
}
.margin(@number){
    margin: @number;
}
.float(@pixel){
    float: @pixel;
}
.position(@pixel){
    position: @pixel;
}
.top(@number){
    top: @number;
}
.left(@number){
    left: @number;
}
.zIndex(@number){
    z-index: @number;
}
.textAlign(@pixel){
    text-align: @pixel;
}
.overflow(@pixel){
    overflow: @pixel;

}
.borderRadius(@number){
    border-radius: @number;
}
.opcity(@number){
    opacity: @number;

}
.fontWeight(@number){
    font-weight: @number;
}
.top(@number){
    top: @number;
}
.bottom(@number){
    bottom: @number;
}
.left(@number){
    left: @number;
}
.right(@number){
    right: @number;
}
.backgroundSize(@number){
    background-size: @number;

}
.boxShadow(@pixel){
    box-shadow: @pixel;
}
.textIndent(@number){
  text-indent: @number;
}
.verticalAlign(@pixel){
  vertical-align: @pixel;
}
.alignItem(@pixel){
  align-items: @pixel;
}
.justifyContent(@pixel){
  justify-content:@pixel;
}
.flexDirection(@pixel){
  flex-direction:@pixel;
}


.re-hide{
    display: none;
}
.re-show{
    display: block;
}
.re-clear{
    clear: both;
}
.re-tiger{
    color: @colorTiger;
}

body,html{
    .width(100%);
}

// 弹出蒙层
.re-mask{
    .width(100%);
    .height(100%);
    .position(fixed);
    .top(0);
    .left(0);
    .background(@colorBlack);
    opacity: 0.5;

};

//按钮部分
.re-login-footer{
    .margin(0.42rem 0);
    .re-submit-btn{
        .position(relative);
        .display(block);
        .width(91%);
        .height(0.89rem);
        .fontSize(0.33rem);
        .textAlign(center);
        .lineHeight(0.89rem);
        .margin(0 auto);
        .background(@colorTiger);
        .borderRadius(0.1rem);

    };
    p{
        .height(0.56rem);
        .lineHeight(0.56rem);
        .textAlign(center);
        .width(91%);
        .margin(0 auto);
        .fontSize(0.2rem);
        .color(@colorGrey);
    };
};

//输入验证码
.re-enter-code{
    .width(5.76rem);
    .textAlign(center);
    .margin(0.73rem auto);
    input{
        .width(0.8rem);
        .height(0.5rem);
        .borderBottom(0.02rem @colorCoin);
        .textAlign(center);
        .fontSize(0.3rem);
        .margin(0 0.05rem);
        .marginBottom(0.91rem);
        border-radius: 0%;
        
    }
}
//路由样式
.re-route{
    .position(reletive);
    .width(100%);
    .color(@colorBlack);
    .fontSize(0.27rem);
    .borderBottom(0.01rem @colorRice);
    li{
        .width(50%);
        .textAlign(center);
        .float(left);
        .lineHeight(0.83rem);
    };
    img{
        .width(50%);
        .position(absolute);
        .top(0.79rem);
    }
};

//支付状态
.re-pay-status{
    .width(100%);
    .textAlign(center);
    img{
        .width(1.31rem);
        .marginTop(1.43rem);
    };
    p:nth-child(2){
        .lineHeight(0.75rem);
        .fontSize(0.27rem);
        .color(@colorTiger);
        .marginTop(0.19rem);
    };
    p:nth-child(3){
        .lineHeight(0.30rem);
        .fontSize(0.24rem);
        .color(@colorGrey);
    }
};
.re-login-footer{
    .marginTop(0.96rem);
}


// 公寓合作、填写资料弹窗
.re-modalBox{
  .position(fixed);
  .left(0);
  .top(0);
  .right(0);
  .bottom(0);
  .margin(auto);
  .overflow(hidden);
  .zIndex(100);
  .height(4.5rem);
  .width(89%);
  .background(@colorWhite);
  .borderRadius(7px);
  .border(0.01rem @colorGrey);
  .textAlign(center);
  .re-modalLogo{
    .padding(0.56rem 0);
    img{
      .width(43.5%);
    }
  }
  .re-modalcontent{
    .color(@colorBlack);
    .padding(0 9%);
    .fontSize(0.26rem);
    .lineHeight(0.38rem);
  }
  .re-modalBtn{
    .width(85%);
    .height(0.89rem);
    .lineHeight(0.89rem);
    .fontSize(0.28rem);
    .background(@colorTiger);
    .color(@colorWhite);
    .border(0);
    .borderRadius(7px);
    .margin(0.5rem auto);
  }
}


// 提示信息弹窗 对应common.util.js
.re-alertLayout {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #6d6d6d;
  opacity: .8;
  z-index: 999;
}
.re-alert {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 0.1rem;
  width: 70%;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  z-index: 1100;
  font-size: 0.26rem;
}
